manadia.wandanial.com {
    basicauth /pub {
        owntracks {$CADDY_OWNTRACKS_PASSWORD_HASH}
    }

    basicauth /admin/* {
        admin {$CADDY_ADMIN_PASSWORD_HASH}
    }

    reverse_proxy app:8000
}