services:
  app:
    image: ghcr.io/wandanialll/manadia:latest
    restart: always
    environment:
      - API_KEYS=${API_KEYS}
    volumes:
      - ./data:/app/data
    ports:
      - "8000:8000"

  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app

volumes:
  caddy_data:
  caddy_config:
